:root {
    --color-pink: #fadede;
    --color-white: #fff
}

body {
    background-color: var(--color-pink);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0 2rem 2rem;
    font-size: 16px;
}
header {
    text-align: center;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
    padding: 1rem;
}
.page-title {
    text-align: center;
    background-color: var(--color-white);
    width: 500px;
    border-radius: 20px;
    display: inline-block;
}

.page-title h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.page-title h3 {
    font-weight: 400;
}

.doggy-ids {
    text-align: center;
}

.cards-container {
    display: inline-block;
}

.card {
    display: inline-block;
    margin: 1rem 1rem 0rem 1rem;
    width: 350px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4%;
}

.card img {
    border-radius: 2%;
}

.card h3, .card p {
    text-align: left;
}

.card h3 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1.25rem;
}

footer {
    margin-top: 1rem;
    text-align: center;
    color: #ffffff;
}

.links {
    height: auto;
    margin-top: 2rem;
}

.links a {
    margin: 0 1rem 0 1rem;
}
